@tailwind base;
@tailwind components;
@tailwind utilities;



.shimmer-list{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.shimmer-box{
    border: 1px solid black;
    height: 250px;
    width: 220px;
    background-color: rgb(186, 165, 165);
    opacity: 0.1;
    gap: 10px;
    margin: 20px;
}